.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  height: 80vh;
}
input {
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  padding: 10px;
  transition: 0.2s;
}

input:focus {
  border: 2px solid #9e0808;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 400px;
  overflow: auto;
}
.lamp {
  width: 100px;
  height: 100px;
  background-color: #474242;
  border-radius: 50%;
  margin: 20px;
  transition: 0.3s;
}

h3 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #474242;
  transition: 0.3s;
}

.lamp.red {
  background-color: red;
}

.lamp.green {
  background-color: green;
}

.lamp.yellow {
  background-color: yellow;
}

.status {
  display: none;
}

.status.red {
  color: red;
  border-color: red;
}

.status.green {
  color: green;
  border-color: green;
}

.status.yellow {
  color: yellow;
  border-color: yellow;
}
